MONGO_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
MAX_FILE_SIZE=5242880
CORS_ORIGIN=https://your-frontend-project.vercel.app,https://your-frontend-project-git-*.vercel.app